html,
body,
#root {
	height: 100%;
	overscroll-behavior: none;
	padding: 0;
	margin: 0;
}

body {
	font-weight: 500;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.bn-container .bn-editor * {
	font-family: var(--mantine-font-family);
}